require "uu_operation_registry"

CREDENTIALS = "{{ deployment_user }}"

CLOUD_URI = "{{ cloud_uri }}"

UU::OS::Security::Session.login(CREDENTIALS)

{% for subapp in subapps.values() %}
{% if 'osid_code' in subapp.keys() %}
secret = UU::OperationRegistry::Secret.create(CLOUD_URI, name: '{{ subapp['osid_code'] }}',code: '{{ subapp['osid_code'] }}', value: '{{ subapp['osid_value'] }}')
resource_lease = UU::OperationRegistry::ResourceLease.create(CLOUD_URI,
resourceType: "DATA_STORE",
constraints: {
    vendor: "{{ subapp['vendor'] }}"
  },
resourceUri:secret
)

{% endif %}
{% if 'bsid_code' in subapp.keys() %}
secret = UU::OperationRegistry::Secret.create(CLOUD_URI, name: '{{ subapp['bsid_code'] }}',code: '{{ subapp['bsid_code'] }}', value: '{{ subapp['bsid_value'] }}')
resource_lease = UU::OperationRegistry::ResourceLease.create(CLOUD_URI,
resourceType: "DATA_STORE",
constraints: {
    vendor: "{{ subapp['vendor'] }}"
  },
resourceUri:secret
)

{% endif %}
{% endfor %}
