uu.server-url=https://api.plus4u.net
uu.server-path-prefix=/ues/wcp
uu.trust-server-cert=false
uu.trust-server-hostname=false

uu.applog.server-url=https://api.plus4u.net
uu.applog.server-path-prefix=c00

uu.c3.base_url={{ uu_c3_base_url }}
uu.c3.append_routing_data=false

uu.imagecatalog.server-path-prefix=/c00

uu.objectstore.server-path-prefix=c00

uu.operation.registry.base_url={{ uu_or_base_url }}
uu.operation.registry.append_routing_data=false

uu.os.gvc.server-path-prefix=/c00
uu.os.qos.max-client-timeout=2

uu.uds.server-url=https://api.plus4u.net
uu.uds.server-path-prefix=c00

cmd-server-url=https://cmd.plus4u.net

uu.binarystore.data.cmd-server-url=https://binstore.plus4u.net
