version: '3.4'
services:
  registry:
    restart: always
    container_name: registry
    image: registry:2
    ports:
      - {{ registry_port }}:5000
    volumes:
      - /var/lib/docker/registry_data:/var/lib/registry
